* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: oklch(92.5% 0.005 214.3);
  font-family: "Inter", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b0b5bd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c929a;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
